MONGO_URI=
JWT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
EMAIL_USER=
EMAIL_PASS=
NODE_ENV=
PORT=5000

Publishable key=pk_test_51TIn5LCssoAqLPOwWzIf7tJesQ9jijpSxSJImpcTPKyFy5VmjDoqYh2LTmMcqvU6JW7ttg7v3MrKoI4XbEsGMCrL000xxc0KRU